/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.discription-container {
  color: white;
  font-size: 24px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 50px;
}

.transparent {
  opacity: 0;
}

.star {
  position: absolute;
  color: white;
}
